/********** Template CSS **********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #222425;
}
body h1{
    color: rgb(200, 212, 223);
    font-family: 'Yellowtail';
    font-size: 2.5em;
}
body h2{
    color: rgb(200, 212, 223);
    font-family: 'Montserrat-Light';
    font-size: 1.5em;
}
body h4{
    color: rgb(89, 231, 182);
    font-family: 'Montserrat-SemiBold';
    font-size: 1.5em;
}
body p,span{
    font-size: 1rem;
    color: aliceblue;
}
body a{
    color: rgb(192, 192, 255);
    font-family: 'Montserrat-Thin';
}

@font-face {
    font-family: "Montserrat-Black";
    src: url(../fonts/Montserrat-Black.otf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url(../fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url(../fonts/Montserrat-ExtraLight.otf);
}
@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: "Montserrat-Thin";
    src: url(../fonts/Montserrat-Thin.otf);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
    font-family: "Montserrat-thin";
    src: url(../fonts/Montserrat-Thin.otf);
}
@font-face {
    font-family: "Yellowtail";
    src: url(../fonts/Yellowtail-Regular.ttf);
}
@font-face {
    font-family: "blowbrush";
    src: url(../fonts/blowbrush.ttf);
}



/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Navbar ***/
.nav{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 0%;
    margin: 0%;
    position: sticky;
    top: 0%;
    z-index: 100;
    transition: .3s;
}
.nav .nav-logo{
    width: 20%;
    height: 100%;
}
.nav .nav-logo .logo{
    width:auto;
    height: 17vh;
    margin-left: 10vh;
    padding-bottom: 10px;
}
.nav-content{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav-content ul{
    padding-top: 15px;
    width: 40em;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-content ul li{
    padding: 0 10px;
}
.nav-content ul li a, .btn-post{
    font-size: 1em;
}
.btn-post{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(71, 71, 151);
    font-family: 'Montserrat-Light';

}


/*** Home***/
.fond-container{
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/istockphoto-1460010412-1024x1024.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #000000cb;
    position: relative;
    overflow: hidden;

}
.fond-logo{
    width: 50%;
    height:auto;
    position: relative;
    transition: all .3s ;
}
.fond-content{
    width: 25%;
    height:75%;
    padding: 10px 20px;
    background-color: #222425;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 15%;
    right: -200%;
    transition: all .3s ease-in-out;

}

/** search **/
.search{
    width: 100%;
    height: 46em;
    background-color: #222425;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}
.search-entente{
    width: 90%;
    height: 20%;
    text-align: center;
}
.search-content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-form{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 10px;
    position: relative;
    transition: all .3s;
}
.search-form form{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap :10px;

}
.search-carousel{
    width: 40%;
    height: 80%;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: all .3s;
}
.search-image{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    animation: swipe 10s linear infinite;
}
@keyframes swipe {
    0%,20%{
        transform: translateX(0%);
    }
    50%,70%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-200%);
    }
}

/** About **/

.about{
    width: 100%;
    height: 40em;
    background-image: url(../img/istockphoto-497347910-1024x1024.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgb(22, 21, 21);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}
.about-content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-left{
    width: 50%;
    height: 100%;
    position: relative;
    padding-left: 15%;
}
.about-img1{
    width: 30vh;
    height: 30vh;
    background-image: url(../img/about-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50% 50%;
    border: 8px solid black;
    position: relative;
    top: 10vh;
    left: 20%;
    /* animation: turn 4s linear 1; */
    transform-origin: right 50%;
    transform: all .5s linear;
    z-index: 30;
}
.about-img1:hover{
    border: 8px solid rgb(0, 224, 93)
}
.about-img2:hover{
    border: 8px solid rgb(0, 104, 224)
}
.about-img3:hover{
    border: 8px solid rgb(86, 0, 224)
}

.about-img2{
    width: 45vh;
    height: 45vh;
    border-radius: 50% 50%;
    border: 8px solid #fafdff;
    background-image: url(../img/about-2.jpg);
    position: relative;
    z-index: 5;
}
.about-img3{
    width: 20vh;
    height: 20vh;
    background-image: url(../img/about-3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50% 50%;
    border: 8px solid #222425;
    position: relative;
    bottom: 6vh;
    left: 30%;
}

.about-info{
    width: 50%;
    height: 70%;
    background-color: #22242563;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-right: 10px solid #29689e;
    position: relative;
    transform: all 1s linear;
}
.about-info:hover{
    border: 8px solid #c0c6ca
}
.about-info h1{
    font-family: 'Yellowtail';
    color: #c0c6ca;
}


/** Categorie **/
.categorie{
    width: 100%;
    height: auto;
    background-color: #222425;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
}
.categorie-filtre2{
    width: 80%;
    height: auto;
    display: 40vh;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
}
.categorie-filtre button{
    width: 20vh;
    height: 70%;
    background-color: #c0c6ca;
    border-radius: 10px 0;
    border: none;
    margin-top: 5vh;
    box-shadow: 2px -2px 10px #29689e;
}
.categorie-filtre button:hover{
    box-shadow: 2px -2px 10px #299e2f;
}
.categorie-content{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 50px;
}
.cat-carte{
    background-color: rgba(0, 0, 0, 0.171);
    padding: 10px;
    height: 72vh;
    position: relative;
    overflow: hidden;
}
.cat-carte:hover{
    top: 10px;
}
.cat-carte img{
    width: 100%;
    transition: all .3s ease;
}
.cat-carte:hover img{
    transform: scale(1.05);
}

.cat-carousel{
    width: 100%;
    height: 49%;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: all .3s;
}
.cat-image{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.cat-carousel-2{
    width: 100%;
    height: 20%;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: all .3s;
}
/** Client **/
.client{
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/istockphoto-840859134-1024x1024.webp);
    background-position: center;
    background-size: cover;
    background-position-y: -70px;
    background-color: #000000cb;
    background-blend-mode: multiply;
}
.client-content{
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s linear;
}
.client-content-left{
    width: 50vh;
    height: 15vh;
    background-color: #c0c6ca96;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-content-left img{
    width: 10vh;
    height: 10vh;
    border-radius: 50% 50%;
}
.client-content-left-info{
    padding: 5px;
}

/** Logement Détail **/

.logement{
    width: 100%;
    height: auto;
    background-color: #222425;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.logement h1,h3{
    color: #7092b1;
    font-size: 24px;
    font-family: 'Montserrat-Light';
}

.logement-content{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.logement-content-up, .logement-content-down{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logement-content-up-container{
    width: 50%;
}
.logement-content-up-container .header-carousel{
    width: 100%;
    height: 100%;
}
/* .logement-content-down .description{
    background-color: #29689e;
} */
.logement-content-down .description,.specifiques{
    width: 50%;
    padding-left: 10px;
}




/*** Header ***/
.img-User{
    width: 60px;
    height: 60px;
    border-radius: 50% 50%;
}
.footer{
    height: auto;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: #222425;
}

.page-header {
    background: linear-gradient(rgb(2, 171, 255)a(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.footer{
    height: 30vh;
}





.logement-img{
    max-width: 1200px;
    width: 80%;
}
.slider-wrapper{
    position: relative;
}
.slider-wrapper .slider-button{
    position: absolute;
    top: 50%;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    color: aliceblue;
    background-color: #62686c;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
}
.slider-wrapper .slider-button:hover{
    background-color: #6c8ca1;
}
.slider-wrapper .slider-button#prev-slide{
    left:  -20px;
}
.slider-wrapper .slider-button#next-slide{
    right:  -20px;
}
.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(10,1fr);
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
}
.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}
.slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
}








/**

*************** RESPONSIVE ***************
*************** RESPONSIVE ***************
*************** RESPONSIVE ***************
*************** RESPONSIVE ***************
*************** RESPONSIVE ***************
*************** RESPONSIVE ***************

*/
@media(min-width:1501px) and (max-width:2000px){
    body h1{
        color: rgb(200, 212, 223);
        font-family: 'Yellowtail';
        font-size: 3.3em;
    }
    body p, body span, a{
        font-size: 1.5em;
    }
    .fond-container{
        height: 57rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 30px;
    }
    .btn-post {
        FONT-SIZE: 30px;
    }
    .body p, span {
        font-size: 1.5rem;
    }
    .categorie-filtre label{
        font-size: 1.5rem;
    }

    .search{
        height: 43em;
    }
    .search-entente{
        padding-top: 30px;
    }
    .search-form form label{
        font-size: 30px;
    }
    .btn{
        font-size: 26px;
    }
    .about-info {
        height: 96%;
    }
    .about-img1 {
        width: 20vh;
        height: 20vh;
        top: 3vh;
        left: 10%;
    }
    .about-img1 {
        /* width: 20vh;
        height: 20vh; */
        top: 3vh;
        left: 10%;
    }
    .about-img3 {
        /* width: 15vh;
        height: 15vh; */
        bottom: 4vh;
    }
    .about{
        height:  auto;
    }
    .cat-carte img {
        width: 100%;
        height: 44vh;
    }
    .cat-carousel {
        height: 50%;
    }
    .cat-carte{
        height:74vh;
    }

    #imgCli{
        width: 100px;
        height: 100px;
    }
    .footer {
        height: auto;
        padding-bottom: 5vh;
    }

}
@media(min-width:1300px) and (max-width:1500px){

    .fond-container{
        height: 51rem;
    }
    .search-content{
        height: 59%;
    }
    .navbar-dark .navbar-nav .nav-link ,.btn-post  {
        font-size: 20px;
    }
    .fond-content p,a ,.search-entente p , .search-form label ,.about-info p,a{
        font-size: 20px;
    }
    .search{
        height: 43em;
    }
    .search-entente{
        padding-top: 30px;
    }
    .about-img1 {
        /* width: 20vh;
        height: 20vh; */
        top: 3vh;
        left: 10%;
    }
    .about-img3 {
        /* width: 15vh;
        height: 15vh; */
        bottom: 4vh;
    }
    .about{
        height: 63em;
    }
    .cat-carte p , .client p,small{
        font-size: 20px;
    }
    .client h5{
        font-size: 28px;
    }
    #imgCli{
        width: 100px;
        height: 100px;
    }
    .footer {
        height: auto;
        padding-bottom: 5vh;
    }
}
@media(min-width:936px) and (max-width:1299px){
    .search{
        height: 30em;
    }
    .search-content{
        height: 65%;
    }
    .search-form {
        height: 100%;
    }
    .about{
        height: 48em;
    }
    .about-img1 {
        /* width: 20vh; */
        /* height: 20vh; */
        top: 3vh;
        left: 10%;
    }
    .about-img2 {
        /* width: 25vh; */
        /* height: 25vh; */
        left: -5vh;
    }
    .about-img3 {
        /* width: 15vh; */
        /* height: 15vh; */
        bottom: 4vh;
    }
    .categorie {
        padding: 0%;
        padding-bottom: 5vh;
    }
    .footer {
        height: auto;
        padding-bottom: 5vh;
    }
}
@media(min-width:630px) and (max-width:935px){
    .fond-container{
        height: 50rem;
    }
    .fond-content {
        width: 35%;
        height: 77%;
    }
    .search {
        height: 50em;
        padding: 20px 0;
        justify-content: space-around;
    }
    .search-entente {
        height: 17%;
        padding-top: 20px;
    }
    .search-content {
        height: 80%;
        flex-direction: column;
    }
    .search-carousel , .search-form{
        margin-top: 10px;
        width: 30em;
        height: 16em;
    }

    .about{
        height: 76em;
    }
    .about-content{
        flex-direction: column;
        margin-bottom: 65px;
    }
    .about-info {
        width: 80%;
        height: 40%;
    }
    .about-left {
        width: 100%;
        display: flex;
        height: 42%;
    }
    .about-img1 {
        width: 39vh;
        height: 20vh;
        top: 3vh;
        left: -2%;
    }
    .about-img2 {
        width: 64vh;
        height: 30vh;
        left: -6vh;
    }
    .about-img3 {
        width: 32vh;
        height: 16vh;
        left: -15%;
        bottom: -4vh;

    }
    .categorie{
        padding: 0vh;
    }

    .categorie-content {
        padding-bottom: 5vh;
        grid-template-columns: repeat(1, 2fr);
    }
    .cat-carousel {
        width: 100%;
        height: 53%;
    }
    .client{
        background-size: auto;
        height: 23em;
    }
    .owl-carousel .owl-stage-outer {
        height: 33em;
    }
    .footer {
        height: auto;
        padding-bottom: 5vh;
    }
}
@media(min-width:360px) and (max-width:629px){
    .nav .nav-logo .logo {
        height: 13vh;
    }
    .nav {
        height: auto;
    }
    .mb-4 {
        margin-bottom: 0.5rem !important;
    }
    .navbar-collapse {
        PADDING-LEFT: 10px;
    }
    .fond-container{
        height: 38rem;
    }
    .fond-content {
        width: 93%;
        height: 77%;

    }
    .cat-carousel {
        width: 100%;
        height: 53%;
    }
    .search {
        height: 50em;
        padding: 20px 0;
        justify-content: space-around;
    }
    .search-entente {
        height: 17%;
        padding-top: 20px;
    }
    .search-content {
        height: 67%;
        flex-direction: column;
    }
    .search-carousel, .search-form {
        margin-top: 10px;
        width: 21em;
        height: 14em;
    }
    .about{
        height: 64em;
    }
    .about-content{
        flex-direction: column;
        margin-bottom: 65px;
    }
    .about-info {
        width: 80%;
        height: 80%;
    }
    .about-left {
        display: none;
    }
    .categorie{
        padding: 0vh;
    }

    .categorie-content {
        padding-bottom: 5vh;
        grid-template-columns: repeat(1, 2fr);
    }
    .client{
        background-size: auto;
        height: 23em;
    }
    .owl-carousel .owl-stage-outer {
        height: 23em;
    }
    .footer {
        height: auto;
        padding-bottom: 5vh;
    }
}
@media(min-width:320px) and (max-width:359px){
    .nav .nav-logo .logo {
        height: 13vh;
    }
    .fond-container{
        height: 38rem;
    }
    .fond-content {
        width: 93%;
        height: 81%;
    }
    .cat-carousel {
        width: 100%;
        height: 48%;
    }
    .search {
        height: 50em;
        padding: 20px 0;
        justify-content: space-around;
    }
    .search-entente {
        height: 17%;
        padding-top: 20px;
    }
    .search-content {
        height: 67%;
        flex-direction: column;
    }
    .search-carousel, .search-form {
        margin-top: 10px;
        width: 19em;
        height: 14em;
    }

    .about{
        height: 54em;
    }
    .about-content{
        height: 83%;
        flex-direction: column;
        margin-bottom: 65px;
    }
    .about-info {
        width: 80%;
        height: 100%;
    }
    .about-left {
        display: none;
    }
    .categorie{
        padding: 0vh;
    }

    .categorie-content {
        padding-bottom: 5vh;
        grid-template-columns: repeat(1, 2fr);
    }
    .client{
        background-size: auto;
        height: 23em;
    }
    .owl-carousel .owl-stage-outer {
        height: 13em;
    }
    .footer {
        height: auto;
        padding-bottom: 5vh;
    }


/** Logement Détail **/

}
@media(min-width:320px) and (max-width:780px){
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: auto;
    }
    .owl-carousel.owl-drag .owl-item {
        height: 25vh;
    }
    .logement-content-up, .logement-content-down{
        flex-direction: column;
        width: 100%;
    }
    .logement-content-down{
        height: auto;
    }

    .logement-content-down .description, .specifiques {
        width: 100%;
        height: auto;
        padding-left: 0px;
    }
    .header-carousel .owl-nav {
        position: absolute;
        top: 44%;
    }
}
